In [41]:
from pathlib import Path
import sys

ROOT_DIR = Path().resolve().parent
sys.path.append(str(ROOT_DIR))

from src.reading_data import df_brazil_responses, df_painel_agency

In [42]:
df_brazil_responses = df_brazil_responses.ffill()
df_brazil_responses.head(5)

        President    Year  ...  % Others % Concedico e Parcialmente
0  Dilma Rousseff  2015.0  ...  0.660377                   0.339623
1  Dilma Rousseff  2015.0  ...  0.037736                   0.962264
2  Dilma Rousseff  2015.0  ...  0.090909                   0.909091
3  Dilma Rousseff  2015.0  ...  0.044872                   0.955128
4  Dilma Rousseff  2015.0  ...  0.003125                   0.996875

[5 rows x 18 columns]

In [33]:
df_painel_agency.head(5)

  sigla_new  ...  n_recurso_4instancia_indeferido
0       agu  ...                              0.0
1       agu  ...                              0.0
2       agu  ...                              0.0
3       agu  ...                              0.0
4       agu  ...                              0.0

[5 rows x 74 columns]

In [52]:
copy_df_painel_agency = df_painel_agency.copy()
copy_df_brazil_responses = df_brazil_responses.copy()

# Extracting only relevant columns of both
copy_df_painel_agency = copy_df_painel_agency[['sigla_new', 'year']]

desired_columns = [
    'Conceded Response',
    'Partially Conceded Response',
    'Denied',
    'Others',
    'Conceded and Partially conceded',
    'Total Requests',
    '% Conceded',
    '% Partially conceded',
    '% denied',
    '% Others',
    '% Concedico e Parcialmente',
]


copy_df_brazil_responses = copy_df_brazil_responses[['Agency', 'Year', *desired_columns]]
display(copy_df_painel_agency.head(5))
display(copy_df_brazil_responses.head(5))

print(f"Num of rows of df_brazil_responses: {len(df_brazil_responses.index)}")
print(f"Num of rows of df_painel_agency: {len(df_painel_agency.index)}")

# Standardizing agencies names in brazil_responses
# Getting the first value
copy_df_brazil_responses['Agency'] = copy_df_brazil_responses['Agency'].str.split().str[0]
# Lowering
copy_df_brazil_responses['Agency'] = copy_df_brazil_responses['Agency'].str.lower()

# Renaming columns for standardize
copy_df_brazil_responses = copy_df_brazil_responses.rename(columns={'Agency': 'sigla_new', 'Year': 'year'})
copy_df_brazil_responses.head(5)

# lowering values of painel_agency
copy_df_painel_agency['sigla_new'] = copy_df_painel_agency['sigla_new'].str.lower()

# Ensuring correct dtypes
copy_df_brazil_responses['year'] = copy_df_brazil_responses['year'].astype(int)
copy_df_painel_agency['year'] = copy_df_painel_agency['year'].astype(int)

num_matches = copy_df_painel_agency['sigla_new'].isin(copy_df_brazil_responses['sigla_new']).sum()
print(f"Num matches: {num_matches}")
copy_df_brazil_responses

  sigla_new  year
0       agu  2014
1       agu  2015
2       agu  2016
3       agu  2017
4       agu  2018

                                              Agency  ...  % Concedico e Parcialmente
0  ABGF - Agencia Brasileira Gestora de Fundos Ga...  ...                    0.339623
1                  AEB – Agência Espacial Brasileira  ...                    0.962264
2  AMAZUL - Amazônia Azul Tecnologias de Defesa S.A.  ...                    0.909091
3                              AN – Arquivo Nacional  ...                    0.955128
4                    ANA – Agência Nacional de Águas  ...                    0.996875

[5 rows x 13 columns]

Num of rows of df_brazil_responses: 3209
Num of rows of df_painel_agency: 1893
Num matches: 1488

     sigla_new  year  ...  % Others  % Concedico e Parcialmente
0         abgf  2015  ...  0.660377                    0.339623
1          aeb  2015  ...  0.037736                    0.962264
2       amazul  2015  ...  0.090909                    0.909091
3           an  2015  ...  0.044872                    0.955128
4          ana  2015  ...  0.003125                    0.996875
...        ...   ...  ...       ...                         ...
3204        mt  2024  ...  0.099751                    0.855362
3205       mte  2024  ...  0.141346                    0.733654
3206      mtur  2024  ...  0.080292                    0.897810
3207      sgpr  2024  ...  0.118421                    0.828947
3208       sri  2024  ...  0.224490                    0.775510

[3209 rows x 13 columns]

In [56]:
import pandas as pd
from src.reading_data import RAW_DIR

df_merge = copy_df_painel_agency.merge(copy_df_brazil_responses, on=['sigla_new', 'year'], how='left')
display(df_merge)

df_final = df_painel_agency.merge(df_merge, on=['sigla_new', 'year'], how='left')
df_final.columns

def prepare_columns_to_excel(df: pd.DataFrame):
    # Dropping category column if it exists
    if 'category' in list(df.columns):
        df = df.drop(columns=['category'])
    
    # Changing names back to the original
    df.columns = df.columns.str.replace("_", " ")
    df.columns = df.columns.str.strip().str.replace("perc", "%", case=False)
    df.columns = df.columns.str.title()

    return df

def save_dataframe_to_excel_tab(df: pd.DataFrame, file_path: Path | str, sheet_name: str):
    # Save the DataFrame to the specific sheet
    with pd.ExcelWriter(file_path, mode='a', engine='openpyxl', if_sheet_exists='replace') as writer:
        df.to_excel(writer, sheet_name=sheet_name, index=False)

save_dataframe_to_excel_tab(df_final, RAW_DIR / 'painel-agency.xlsx', 'Sheet 2')

     sigla_new  year  ...  % Others  % Concedico e Parcialmente
0          agu  2014  ...       NaN                         NaN
1          agu  2015  ...  0.416949                    0.511864
2          agu  2016  ...  0.433498                    0.435961
3          agu  2016  ...  0.374408                    0.507109
4          agu  2017  ...  0.329004                    0.515152
...        ...   ...  ...       ...                         ...
2299     valec  2018  ...       NaN                         NaN
2300     valec  2019  ...       NaN                         NaN
2301     valec  2020  ...       NaN                         NaN
2302     valec  2021  ...       NaN                         NaN
2303     valec  2022  ...       NaN                         NaN

[2304 rows x 13 columns]